<div class="container-fluid">
  <h1>EventWatcher</h1>

  <div class="site_description">
    <span>
      EventWatcher checks ticket prices everyday. Click any of the events below to see how their prices have changed over time.
    </span>
  </div>

  <p>
  </p>

  <h4>Currently Tracked Events</h4>
  <ul class="ongoing_event_list">
    <% @events.select{|e| !e.finished }.each do |event| %>
      <li>
        <%= link_to event.title, event_path(event) %>
      </li>
    <% end %>
  </ul>

  <h4>Past Events</h4>
  <ul>
    <% @events.select{|e| e.finished }.each do |event| %>
      <li>
        <%= link_to event.title, event_path(event) %>
      </li>
    <% end %>
  </ul>
</div>
